body {
    outline: none;
    background-color: #f8f8fb;
}
.Login{
    width: 35%;
    height: 550px;
    margin: auto;
    margin-top:8%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.box{
    width: 100%;
    height: 100px;
    background-color: #d4dbf9;
}
.left{
    width: 60%;
}
.left h5 {
    text-align:left;
    margin-left: 15px;
    margin-top: 15px;
}
.left p{
    text-align:left;
    margin-left: 15px;
}
.right{
    width: 40%;
}
.image{
    width: 100%;
    height: 100%;
}
.credential{
    width: 80%;
    margin: auto;
}
.input{
    margin-top:8px;
}
.Checkbox{
    width: 80%;
    margin: auto;
    margin-top: 15px;
    text-align: start;  
}
.loginbutton{
    width: 80%;
    margin: auto;
    margin-top: 15px;
}
.loginbutton button{
     background-color: blue;
    color: white;
    width: 100%;
    margin-top: 15px;
}
.loginbutton button:hover{
    background-color: green;
}
.signwith{
    width: 80%;
    margin: auto;
    margin-top: 35px;
}
.signwith p{
    font-weight: bold;
}
.facebook{
    background-color: rgba(250, 250, 250, 0.963);  
}
.signwith .google .facebook{
    margin-top: 15px;
}
.forgetpwd{
    padding: 5px;
    width: 50%;
    margin: auto;
    margin-top: 20px;
}
.forgetpwd .icon {
    margin-top: 1%;
    margin-left: 5%;
}
.account{
    margin-top: 25px;
}

@media screen and (min-width:0px) and (max-width:320px) {
    .Login{
    width: 100%;
    height: 550px;
    margin: auto;
    margin-top:15%;
    flex-wrap: nowrap;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.box{
    width: 100%;
    height: 100px;
    background-color: #d4dbf9;
}
.left{
    width: 60%;
}
.left h5 {
    text-align:left;
    margin-left: 15px;
    margin-top: 15px;
}
.left p{
    text-align:start;
    width: 100%;
    margin-left: 15px;
}
.right{
    width: 40%;
}
.image{
    width: 100%;
    height: 100%;
}
.credential{
    width: 80%;
    margin: auto;
}
.input{
    margin-top: 5px;
}
.Checkbox{
    width: 80%;
    margin: auto;
    margin-top: 15px;
    text-align: start;  
}
.loginbutton{
    width: 80%;
    margin: auto;
    margin-top: 15px;
}
.loginbutton button{
     background-color: blue;
    color: white;
    width: 100%;
}
.loginbutton button:hover{
    background-color: green;
}
.signwith{
    width: 80%;
    margin: auto;
    margin-top: 10px;
}
.signwith p{
    font-weight: bold;
}
.facebook{
    background-color: rgba(250, 250, 250, 0.963);  
}
.signwith .google .facebook{
    margin-top: 5px;
}
.forgetpwd{
    padding: 5px;
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
.forgetpwd .icon {
    margin-top: 1%;
    margin-left: 10%;
}
.account{
    margin-top: 25px;
}
}
@media screen and (min-width:321px) and (max-width:375px) {
    .Login{
    width: 100%;
    height: 550px;
    margin: auto;
    margin-top:6%;
    flex-wrap: nowrap;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.box{
    width: 100%;
    height: 100px;
    background-color: #d4dbf9;
}
.left{
    width: 60%;
}
.left h5 {
    text-align:left;
    margin-left: 15px;
    margin-top: 15px;
}
.left p{
    text-align:start;
    width: 100%;
    margin-left: 15px;
}
.right{
    width: 40%;
}
.image{
    width: 100%;
    height: 100%;
}
.credential{
    width: 80%;
    margin: auto;
}
.input{
    margin-top: 5px;
}
.Checkbox{
    width: 80%;
    margin: auto;
    margin-top: 15px;
    text-align: start;  
}
.loginbutton{
    width: 80%;
    margin: auto;
    margin-top: 15px;
}
.loginbutton button{
     background-color: blue;
    color: white;
    width: 100%;
}
.loginbutton button:hover{
    background-color: green;
}
.signwith{
    width: 80%;
    margin: auto;
    margin-top: 25px;
}
.signwith p{
    font-weight: bold;
}
.facebook{
    background-color: rgba(250, 250, 250, 0.963);  
}
.signwith .google .facebook{
    margin-top: 5px;
}
.forgetpwd{
    padding: 5px;
    width: 80%;
    margin: auto;
    margin-top: 18px;
}
.forgetpwd .icon {
    margin-top: 1%;
    margin-left: 20%;
}
.account{ 
    margin-top: 35px;
}
.account .text{
    margin-top: 10%;
}
} 

@media screen and (min-width:375px) and (max-width:425px) {
       .Login{
    width: 100%;
    height: 550px;
    margin: auto;
    margin-top:6%;
    flex-wrap: nowrap;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.box{
    width: 100%;
    height: 100px;
    background-color: #d4dbf9;
}
.left{
    width: 60%;
}
.left h5 {
    text-align:left;
    margin-left: 15px;
    margin-top: 15px;
}
.left p{
    text-align:start;
    width: 100%;
    margin-left: 15px;
}
.right{
    width: 40%;
}
.image{
    width: 100%;
    height: 100%;
}
.credential{
    width: 80%;
    margin: auto;
}
.input{
    margin-top: 5px;
}
.Checkbox{
    width: 80%;
    margin: auto;
    margin-top: 15px;
    text-align: start;  
}
.loginbutton{
    width: 80%;
    margin: auto;
    margin-top: 15px;
}
.loginbutton button{
     background-color: blue;
    color: white;
    width: 100%;
}
.loginbutton button:hover{
    background-color: green;
}
.signwith{
    width: 80%;
    margin: auto;
    margin-top: 25px;
}
.signwith p{
    font-weight: bold;
}
.facebook{
    background-color: rgba(250, 250, 250, 0.963);  
}
.signwith .google .facebook{
    margin-top: 5px;
}
.forgetpwd{
    padding: 5px;
    width: 30%;
    margin: auto;
    margin-top: 18px;
}
.forgetpwd .icon {
    margin-top: 1%;
    margin-left: 20%;
}
.account{
    margin-top: 35px;
}
.account .text{
    margin-top: 10%;
}
}
@media screen and (min-width:425px) and (max-width:768px) {
       .Login{
    width: 100%;
    height: 550px;
    margin: auto;
    margin-top:6%;
    flex-wrap: nowrap;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.box{
    width: 100%;
    height: 100px;
    background-color: #d4dbf9;
}
.left{
    width: 60%;
}
.left h5 {
    text-align:left;
    margin-left: 15px;
    margin-top: 15px;
}
.left p{
    text-align:start;
    width: 100%;
    margin-left: 15px;
}
.right{
    width: 40%;
}
.image{
    width: 100%;
    height: 100%;
}
.credential{
    width: 80%;
    margin: auto;
}
.input{
    margin-top: 5px;
}
.Checkbox{
    width: 80%;
    margin: auto;
    margin-top: 15px;
    text-align: start;  
}
.loginbutton{
    width: 80%;
    margin: auto;
    margin-top: 15px;
}
.loginbutton button{
     background-color: blue;
    color: white;
    width: 100%;
}
.loginbutton button:hover{
    background-color: green;
}
.signwith{
    width: 80%;
    margin: auto;
    margin-top: 25px;
}
.signwith p{
    font-weight: bold;
}
.facebook{
    background-color: rgba(250, 250, 250, 0.963);  
}
.signwith .google .facebook{
    margin-top: 5px;
}
.forgetpwd{
    padding: 5px;
    width: 30%;
    margin: auto;
    margin-top: 18px;
}
.forgetpwd .icon {
    margin-top: 1%;
    margin-left: 20%;
}
.account{
    margin-top: 35px;
}
.account .text{
    margin-top: 10%;
}
}
@media screen and (max-width:768px) {
       .Login{
    width: 100%;
    height: 550px;
    margin: auto;
    margin-top:6%;
    flex-wrap: nowrap;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.box{
    width: 100%;
    height: 100px;
    background-color: #d4dbf9;
}
.left{
    width: 60%;
}
.left h5 {
    text-align:left;
    margin-left: 15px;
    margin-top: 15px;
}
.left p{
    text-align:start;
    width: 100%;
    margin-left: 15px;
}
.right{
    width: 40%;
}
.image{
    width: 100%;
    height: 100%;
}
.credential{
    width: 80%;
    margin: auto;
}
.input{
    margin-top: 5px;
}
.Checkbox{
    width: 80%;
    margin: auto;
    margin-top: 15px;
    text-align: start;  
}
.loginbutton{
    width: 80%;
    margin: auto;
    margin-top: 15px;
}
.loginbutton button{
     background-color: blue;
    color: white;
    width: 100%;
}
.loginbutton button:hover{
    background-color: green;
}
.signwith{
    width: 80%;
    margin: auto;
    margin-top: 25px;
}
.signwith p{
    font-weight: bold;
}
.facebook{
    background-color: rgba(250, 250, 250, 0.963);  
}
.signwith .google .facebook{
    margin-top: 5px;
}
.forgetpwd{
    padding: 5px;
    width: 30%;
    margin: auto;
    margin-top: 18px;
}
.forgetpwd .icon {
    margin-top: 0;
    margin-left: 5%;
}
.account{
    margin-top: 35px;
}
.account .text{
    margin-top: 10%;
}
}