.sidebar{
    border: 1px solid #2a3042;
    width: 100%;
    height: 100vmax;
    padding: 5px;
    margin-left: 5px;
    color: #ffffff;
    background-color: #2a3042;
}
.jslimage{
    width: 100px;
    height: 70px;
    padding: 5px;
    margin-top: 5px;
    color: white;
    margin: auto;
}
.Dashboard{
    margin-top: 15px;
    width: 100%;
    height: 50px;
    color: rgba(255, 255, 255, 0.696);
    font-size: 18px;
    align-content: center;
    font-family: sans-serif;
}
.Dashboard:hover{
    color: white;
}
.profile{
      margin-top: 15px;
    width: 100%;
    height: 50px;
    color: rgba(255, 255, 255, 0.696);
    font-size: 18px;
    align-content: center;
    font-family: sans-serif; 
}
.profile:hover{
    color: white;
}
.item {
    margin-bottom: 10px;
}
.accordion{
    width: 100%;
    margin-top: 15px;
    border: #2a3042;
    color: #97a1c2;
}
.text{
    text-align: start;
    margin-left: 15px;
     color: #97a1c2;
}